# Environment / secrets
.env

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependencies (si tu ajoutes Composer plus tard)
vendor/

# Node (si tu ajoutes npm plus tard)
node_modules/
